body {
  background: #ecf0f1;
}

.main-color-bg {
  background-color: #3498db;
  border-color: #2980b9;
}

/* HEADER */
#header {
  padding-bottom: 10px;
  margin-top: 15px;
}

#title {
  font-family: arial;
  font-weight: bolder;
  font-size: 36pt;
  color: #ffffff; /*#ecf0f1*/
  clear: left;
}

#desc {
  font-family: arial;
  font-weight: bolder;
  color: #ffffff; /*#ecf0f1*/
}

.dropdown {
  text-align: right;
  padding-top: 20px;
}

#dropdownMenu1 {
  font-size: 20pt;
  color: #2980b9;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

/* dropdown effect */
#dropdownMenu1:hover,
#dropdownMenu1:focus {
  color: #ffffff !important; /*#ecf0f1*/
  cursor: pointer;
}

.open .dropdown-menu > li > a:hover,
.open .dropdown-menu > li > a:focus {
  color: #ffffff; /*#ecf0f1*/
  background-color: #3498db;
}

.dropdown-menu {
  right: 0;
}
/* End of HEADER */

/* SIDEBAR */
#sidebar {
  padding: 0;
}

.list-group-item {
  /*background-color: #f5f5f5; /*hapus (?)*/
  font-weight: bolder;
}

/* effect */
.btn-default:hover {
  color: #333;
  background-color: #3498db;
  border-color: #2980b9;
}

.btn-default:active,
.btn-default.active {
  color: #ffffff; /*#ecf0f1*/
  background-color: #3498db;
  border-color: #2980b9;
}
/* End of SIDEBAR */

/* MAIN CONTENT */
.well {
  background-color: #ffffff;
}

#main-content {
  padding-right: 0;
}

/* Search (Filter) Box */
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

/* Table */
th {
  min-width: 150px;
  text-align: center;
}

tr td:first-child {
  text-align: center;
}

/* Pagination */
.dataTables_wrapper .dataTables_paginate {
  text-align: right;
}

/* End of MAIN CONTENT */

/* FOOTER */
#footer p {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  /*margin-top: 15px;*/
}

#footer .container {
  padding: 0;
}

/* TABLE CONTENT */
#heading-table {
  min-width: 100px;
  text-align: center;
}

#table-first-column {
  text-align: center;
}
